@media (min-width: 576px){
    .hidden-sm{
        visibility: hidden;
    }
}

#navbar-menu{
    border : 1px #1a1d20 solid;
    background-color: #badce3;
    margin-top: 5px;
}
.tall-section {
    height: 1999px;
    margin: 0 auto 9px auto;

}

section.tall-section>p{
    padding : 0 5px 5px 5px;
}

section.tall-section span>a{
    color : #0a53be;
    font-size: 1.1em;
}

.nav-item{
    padding-left: 9px;
}

.dropdown-divider{
    height: 1px;
    background-color: #1a1d20;
}

